body {
    background-color: #ddd;
    font-size: 21px;
}

#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: #035f9c;
    font-size: 1.3em;
}

hr{
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    margin-top: 50px;
}
h1, h2, p {
    text-align: center;
}

#logos {
    text-align: center;
}
img{
    width: 50%;
    display: block;
    margin: 50px auto;
}

#topics {
    line-height: 1.5em;
    margin: 0 auto;
    width: 57%;
}

.list {
    list-style-type: none;
}